# Dependencies
node_modules
client/node_modules
server/node_modules
/.pnp
.pnp.js

# Build Outputs
dist
client/dist
server/dist

# Environment variables
.env
.env.local
.env.*.local
client/.env.local
server/.env.local